.wide-content {
  padding-right: 48px;
  padding-left: 48px;
}
@media (max-width: 768px) {
  .wide-content {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (max-width: 320px) {
  .wide-content {
    padding-right: 16px;
    padding-left: 16px;
  }
}