.cover__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
 }
.cover__link:before {
  content: "";
  position: absolute;
  background: #2A2C2F;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  transition: opacity 0.3s;
}
.cover__link:hover:before {
  opacity: 0.8;
}
@media (max-width: 440px) {
  .cover__link {
    gap: 16px;
  }
}