.place__url-heading {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin-bottom: 12px;
}
@media (max-width:320px) {
  .place__url-heading {
    padding: 0 16px 0;
  }
}